{% extends 'mailing/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="alert alert-success mt-5">
                <h4 class="alert-heading">Пароль успешно сброшен!</h4>
                <p>На адрес <strong>{{ email }}</strong> отправлен новый пароль. Пожалуйста, проверьте свою почту и
                    используйте новый пароль для входа.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}